In [1]:
import pandas as pd

df = pd.read_csv(r'C:/Users/simar/OneDrive/Desktop/AWS/AWCustomers.csv')

print(df.head())
print(df.columns)

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]
Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [2]:
import pandas as pd

df = pd.read_csv(r'C:/Users/simar/OneDrive/Desktop/AWS/AWCustomers.csv')

df = df.drop([
    'CustomerID', 'Title', 'Suffix', 'AddressLine1', 
    'AddressLine2', 'City', 'StateProvinceName', 
    'Education', 'HomeOwnerFlag'
], axis=1)

print(df.head())

  FirstName MiddleName  LastName CountryRegionName PostalCode  \
0      Chad          C      Yuan         Australia       2500
1      Ryan        NaN     Perry            Canada    V9B 2C3
2     Julia        NaN  Thompson     United States      91791
3  Theodore        NaN     Gomez    United Kingdom     L4 4HB
4  Marshall          J      Shan           Germany      59368

           PhoneNumber   BirthDate      Occupation Gender MaritalStatus  \
0  1 (11) 500 555-0115  1987-11-13        Clerical      M             M
1         787-555-0136  1972-07-21        Clerical      M             M
2         120-555-0111  1985-11-09        Clerical      F             S
3  1 (11) 500 555-0167  1977-10-18  Skilled Manual      M             M
4  1 (11) 500 555-0113  1975-02-05  Skilled Manual      M             S

   NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome  \
0                3                     0              1         81916
1                2                     1              2         81076
2                3                     0              0         86387
3                2                     1              2         61481
4                1                     0              0         51804

  LastUpdated
0  2017-03-06
1  2017-03-06
2  2017-03-06
3  2017-03-06
4  2017-03-06

In [5]:
import pandas as pd

df_customer = pd.read_csv(r'C:/Users/simar/OneDrive/Desktop/AWS/AWCustomers.csv')
df_sales = pd.read_csv(r'C:/Users/simar/OneDrive/Desktop/AWS/AWSales.csv')

print("First 5 rows of AWCustomers.csv:")
print(df_customer.head())

print("\nColumn names and their data types for AWCustomers.csv:")
print(df_customer.info())

print("\nFirst 5 rows of AWSales.csv:")
print(df_sales.head())

print("\nColumn names and their data types for AWSales.csv:")
print(df_sales.info())

First 5 rows of AWCustomers.csv:
   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]

Column names and their data types for AWCustomers.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None

First 5 rows of AWSales.csv:
   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

Column names and their data types for AWSales.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     18355 non-null  int64
 1   BikeBuyer      18355 non-null  int64
 2   AvgMonthSpend  18355 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 430.3 KB
None

In [1]:
from datetime import datetime
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, KBinsDiscretizer, OneHotEncoder,StandardScaler,RobustScaler,MaxAbsScaler
from sklearn import preprocessing 
import pandas as pd

df_customer = pd.read_csv(r'C:/Users/simar/OneDrive/Desktop/AWS/AWCustomers.csv')
df_sales = pd.read_csv(r'C:/Users/simar/OneDrive/Desktop/AWS/AWSales.csv')

merged_df = pd.merge(df_customer, df_sales, on='CustomerID')
merged_df['BirthDate'] = pd.to_datetime(merged_df['BirthDate'])
merged_df['Age'] = ((datetime.now() - merged_df['BirthDate']).dt.days / 365.25).astype(int)

new_df = merged_df[[
    'BikeBuyer', 'YearlyIncome', 'Gender', 'MaritalStatus', 'Age', 'Education',
    'Occupation', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
    'TotalChildren', 'CountryRegionName', 'StateProvinceName'
]]

print("First 5 rows of the new DataFrame:")
print(new_df.head())

print("\nAre there any null values in the new dataframe?")
print(new_df.isnull().values.any())

scaler = MinMaxScaler()
new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()

scaler = StandardScaler()
new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()

scaler = RobustScaler()
new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()

scaler =MaxAbsScaler()
new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()

discretizer = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')
new_df['YearlyIncome_binned'] = discretizer.fit_transform(new_df[['YearlyIncome_scaled']])



encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_data = encoder.fit_transform(new_df[['Gender', 'MaritalStatus', 'Education', 'Occupation', 'CountryRegionName', 'StateProvinceName']])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Gender', 'MaritalStatus', 'Education', 'Occupation', 'CountryRegionName', 'StateProvinceName']))

label_encoder = LabelEncoder()
new_df['Gender_encoded'] = label_encoder.fit_transform(new_df['Gender'])


final_df = pd.concat([new_df, encoded_df], axis=1)
final_df.drop(['Gender', 'MaritalStatus', 'Education', 'Occupation', 'CountryRegionName', 'StateProvinceName'], axis=1, inplace=True)

print("\nFirst 5 rows of the final dataframe:")
print(final_df.head())

First 5 rows of the new DataFrame:
   BikeBuyer  YearlyIncome Gender MaritalStatus  Age        Education  \
0          1         81916      M             M   36        Bachelors
1          1         81076      M             M   52  Partial College
2          1         86387      F             S   38        Bachelors
3          1         61481      M             M   46  Partial College
4          1         51804      M             S   49  Partial College

       Occupation  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
0        Clerical              1                3                     0
1        Clerical              1                2                     1
2        Clerical              0                3                     0
3  Skilled Manual              1                2                     1
4  Skilled Manual              1                1                     0

   TotalChildren CountryRegionName    StateProvinceName
0              1         Australia      New South Wales
1              2            Canada     British Columbia
2              0     United States           California
3              2    United Kingdom              England
4              0           Germany  Nordrhein-Westfalen

Are there any null values in the new dataframe?
False

First 5 rows of the final dataframe:
   BikeBuyer  YearlyIncome  Age  HomeOwnerFlag  NumberCarsOwned  \
0          1         81916   36              1                3
1          1         81076   52              1                2
2          1         86387   38              0                3
3          1         61481   46              1                2
4          1         51804   49              1                1

   NumberChildrenAtHome  TotalChildren  YearlyIncome_scaled  Age_scaled  \
0                     0              1             0.588837    0.382979
1                     1              2             0.582798    0.553191
2                     0              0             0.620975    0.404255
3                     1              2             0.441944    0.489362
4                     0              0             0.372383    0.521277

   YearlyIncome_binned  ...  StateProvinceName_Tasmania  \
0                  3.0  ...                         0.0
1                  3.0  ...                         0.0
2                  3.0  ...                         0.0
3                  2.0  ...                         0.0
4                  1.0  ...                         0.0

   StateProvinceName_Texas  StateProvinceName_Utah  \
0                      0.0                     0.0
1                      0.0                     0.0
2                      0.0                     0.0
3                      0.0                     0.0
4                      0.0                     0.0

   StateProvinceName_Val d'Oise  StateProvinceName_Val de Marne  \
0                           0.0                             0.0
1                           0.0                             0.0
2                           0.0                             0.0
3                           0.0                             0.0
4                           0.0                             0.0

   StateProvinceName_Victoria  StateProvinceName_Virginia  \
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

   StateProvinceName_Washington  StateProvinceName_Wyoming  \
0                           0.0                        0.0
1                           0.0                        0.0
2                           0.0                        0.0
3                           0.0                        0.0
4                           0.0                        0.0

   StateProvinceName_Yveline
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

[5 rows x 85 columns]

C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['YearlyIncome_scaled'] = scaler.fit_transform(new_df[['YearlyIncome']])
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Age_scaled'] = scaler.fit_transform(new_df[['Age']].values.reshape(-1,1)).flatten()
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['YearlyIncome_binned'] = discretizer.fit_transform(new_df[['YearlyIncome_scaled']])
C:\Users\simar\AppData\Local\Temp\ipykernel_18452\3342175647.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Gender_encoded'] = label_encoder.fit_transform(new_df['Gender'])

In [7]:
import sklearn
print(sklearn.__version__)

1.5.1